/* line 2, ../SASS/page/_home.scss */
h1 {
  font-weight: bold;
}

/* line 2, ../SASS/component/_header.scss */
header {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(17, 42, 67, 0.9);
  font-size: 16px;
}

/* line 11, ../SASS/component/_header.scss */
header p {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  margin-left: 10px;
  color: white;
  padding-top: 0;
  margin-top: 0;
  margin-botton: 0;
}

/* line 26, ../SASS/component/_header.scss */
header ul {
  display: inline-block;
  float: right;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 36, ../SASS/component/_header.scss */
header li {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 46, ../SASS/component/_header.scss */
header li a {
  display: block;
  line-height: 40px;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 58, ../SASS/component/_header.scss */
img {
  display: none;
}

@media (max-width: 480px) {
  /* line 65, ../SASS/component/_header.scss */
  header ul {
    display: none;
    background-color: rgba(17, 42, 67, 0.7);
    color: white;
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-left: 10px;
    padding: 0;
    z-index: 10000;
  }

  /* line 80, ../SASS/component/_header.scss */
  img {
    display: block;
    float: right;
    margin-right: 5%;
    vertical-align: middle;
    line-height: 40px;
    padding-top: 5px;
    cursor: pointer;
  }

  /* line 92, ../SASS/component/_header.scss */
  .visible {
    display: block !important;
  }

  /* line 97, ../SASS/component/_header.scss */
  header li {
    display: block;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    padding-top: 3px;
  }
}
/* line 2, ../SASS/component/_h_tags.scss */
.intro {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

/* line 11, ../SASS/component/_h_tags.scss */
h3 {
  margin-left: 10px;
  padding-left: 8px;
  margin-right: 10px;
  padding-right: 8px;
  font-weight: bold;
  color: #5a5858;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

/* line 25, ../SASS/component/_h_tags.scss */
.lead-paragraph {
  font-family: Cambria, Georgia, serif;
  color: #5a5858;
  margin-top: 0;
  padding-bottom: 1rem;
  margin-left: 10px;
  padding-left: 8px;
  margin-right: 10px;
  padding-right: 8px;
  border-bottom: 1px solid #5a5858;
  margin-bottom: 16px;
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  /* line 44, ../SASS/component/_h_tags.scss */
  h3 {
    text-align: center;
  }

  /* line 48, ../SASS/component/_h_tags.scss */
  .lead-paragraph {
    text-align: center;
  }
}
/* line 2, ../SASS/component/_article.scss */
article {
  width: 100%;
}

/* line 8, ../SASS/component/_article.scss */
.title-link {
  display: block;
  margin-left: 10px;
  padding-left: 8px;
  margin-right: 10px;
  padding-right: 8px;
  font-weight: bold;
  color: #5a5858;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.4rem;
  padding-bottom: 4px;
  margin-bottom: 6px;
}

/* line 23, ../SASS/component/_article.scss */
article p {
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  margin-top: 0;
  margin-bottom: 0;
  color: #5a5858;
  font-size: 1.2rem;
  border-bottom: 1px solid #5a5858;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  /* line 40, ../SASS/component/_article.scss */
  .title-link {
    text-align: center;
  }

  /* line 45, ../SASS/component/_article.scss */
  article p {
    text-align: center;
  }
}
/* line 2, ../SASS/_base.scss */
body {
  background-color: white;
}

/* line 8, ../SASS/_base.scss */
.main-container {
  width: 90%;
  min-height: 600px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fdfafa;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 530px) {
  /* line 23, ../SASS/_base.scss */
  .main-container {
    width: 100%;
  }
}
